<h1>New Document: <%= template.name %></h1>

<form id="doc-form" method="post" action="/documents">
  <input type="hidden" name="templateId" value="<%= template.id %>" />

  <%- layoutHtml %>

  <button type="submit">Create Document</button>
</form>
