<h1>Template Preview: <%= template.name %></h1>
<p class="muted"><code><%= template.key %></code></p>

<%- layoutHtml %>

<p><a href="/documents/new?templateId=<%= template.id %>">Start New Document</a></p>
